<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <footer class="footer">
    <div class="container">
      <section class="contact">
        <h2>Contact</h2><a href="mailto:{{%20site.email%20}}"
                 title="{{ site.email }}">{{ site.email }}</a>
      </section>
      <section class="follow">
        <h2>Follow</h2>
        <ul>
          <li>
            <a href="{{site.Github}}"
                target="_blank"
                title="Github">Github</a>
          </li>
          <li>
            <a href="{{site.Researchgate}}"
                target="_blank"
                title="Researchgate">Researchgate</a>
          </li>		  
        </ul>
      </section>
    </div>
  </footer>
</body>
</html>
